---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/random?client_id=<UNSPLASH_API_KEY>&query=denver,%20co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '44'
    body:
      encoding: UTF-8
      string: '{"id":"oAxl5Z6Hn3I","created_at":"2019-05-20T12:58:43-04:00","updated_at":"2019-06-14T15:14:21-04:00","width":5184,"height":3456,"color":"#0D050C","description":null,"alt_description":"people
        walking near arch","urls":{"raw":"https://images.unsplash.com/photo-1558371478-58b8e31ce760?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjgzODkxfQ","full":"https://images.unsplash.com/photo-1558371478-58b8e31ce760?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjgzODkxfQ","regular":"https://images.unsplash.com/photo-1558371478-58b8e31ce760?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjgzODkxfQ","small":"https://images.unsplash.com/photo-1558371478-58b8e31ce760?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjgzODkxfQ","thumb":"https://images.unsplash.com/photo-1558371478-58b8e31ce760?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjgzODkxfQ"},"links":{"self":"https://api.unsplash.com/photos/oAxl5Z6Hn3I","html":"https://unsplash.com/photos/oAxl5Z6Hn3I","download":"https://unsplash.com/photos/oAxl5Z6Hn3I/download","download_location":"https://api.unsplash.com/photos/oAxl5Z6Hn3I/download"},"categories":[],"sponsored":false,"sponsored_by":null,"sponsored_impressions_id":null,"likes":1,"liked_by_user":false,"current_user_collections":[],"user":{"id":"SJ2_XzVF3D0","updated_at":"2019-07-30T01:27:54-04:00","username":"ericmuhr","name":"Eric
        Muhr","first_name":"Eric","last_name":"Muhr","twitter_username":"ericmuhr","portfolio_url":"https://www.ericmuhr.club/","bio":"I
        work in the town where I was born. I\u2019m interested in poetry, the outdoors,
        and food. Prints available at ericmuhr.club","location":"Newberg, Oregon","links":{"self":"https://api.unsplash.com/users/ericmuhr","html":"https://unsplash.com/@ericmuhr","photos":"https://api.unsplash.com/users/ericmuhr/photos","likes":"https://api.unsplash.com/users/ericmuhr/likes","portfolio":"https://api.unsplash.com/users/ericmuhr/portfolio","following":"https://api.unsplash.com/users/ericmuhr/following","followers":"https://api.unsplash.com/users/ericmuhr/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1523836074263-bfc6e0133db0?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32","medium":"https://images.unsplash.com/profile-1523836074263-bfc6e0133db0?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64","large":"https://images.unsplash.com/profile-1523836074263-bfc6e0133db0?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128"},"instagram_username":"ericmuhr","total_collections":6,"total_likes":1242,"total_photos":549,"accepted_tos":true},"exif":{"make":"Canon","model":"Canon
        EOS REBEL T5i","exposure_time":"1/50","aperture":"5.0","focal_length":"55.0","iso":6400},"location":{"title":"Colorado
        State Capitol, Denver, CO, United States","name":"Colorado State Capitol","city":"Denver,
        CO","country":"United States","position":{"latitude":null,"longitude":null}},"views":12354,"downloads":33}'
  recorded_at: Wed, 31 Jul 2019 02:37:43 GMT
recorded_with: VCR 5.0.0
