---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/random?client_id=<UNSPLASH_API_KEY>&query=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: '{"id":"lr5pneBV0qc","created_at":"2019-06-04T11:41:50-04:00","updated_at":"2019-07-14T01:13:18-04:00","width":4643,"height":3456,"color":"#0A0405","description":null,"alt_description":"brown
        KPOF signage during daytime","urls":{"raw":"https://images.unsplash.com/photo-1559662884-a5a6dc463062?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjgzODkxfQ","full":"https://images.unsplash.com/photo-1559662884-a5a6dc463062?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjgzODkxfQ","regular":"https://images.unsplash.com/photo-1559662884-a5a6dc463062?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjgzODkxfQ","small":"https://images.unsplash.com/photo-1559662884-a5a6dc463062?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjgzODkxfQ","thumb":"https://images.unsplash.com/photo-1559662884-a5a6dc463062?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjgzODkxfQ"},"links":{"self":"https://api.unsplash.com/photos/lr5pneBV0qc","html":"https://unsplash.com/photos/lr5pneBV0qc","download":"https://unsplash.com/photos/lr5pneBV0qc/download","download_location":"https://api.unsplash.com/photos/lr5pneBV0qc/download"},"categories":[],"sponsored":false,"sponsored_by":null,"sponsored_impressions_id":null,"likes":1,"liked_by_user":false,"current_user_collections":[],"user":{"id":"SJ2_XzVF3D0","updated_at":"2019-07-29T14:04:56-04:00","username":"ericmuhr","name":"Eric
        Muhr","first_name":"Eric","last_name":"Muhr","twitter_username":"ericmuhr","portfolio_url":"https://www.ericmuhr.club/","bio":"I
        work in the town where I was born. I\u2019m interested in poetry, the outdoors,
        and food. Prints available at ericmuhr.club","location":"Newberg, Oregon","links":{"self":"https://api.unsplash.com/users/ericmuhr","html":"https://unsplash.com/@ericmuhr","photos":"https://api.unsplash.com/users/ericmuhr/photos","likes":"https://api.unsplash.com/users/ericmuhr/likes","portfolio":"https://api.unsplash.com/users/ericmuhr/portfolio","following":"https://api.unsplash.com/users/ericmuhr/following","followers":"https://api.unsplash.com/users/ericmuhr/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1523836074263-bfc6e0133db0?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32","medium":"https://images.unsplash.com/profile-1523836074263-bfc6e0133db0?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64","large":"https://images.unsplash.com/profile-1523836074263-bfc6e0133db0?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128"},"instagram_username":"ericmuhr","total_collections":6,"total_likes":1244,"total_photos":549,"accepted_tos":true},"exif":{"make":"Canon","model":"Canon
        EOS REBEL T5i","exposure_time":"1/160","aperture":"8.0","focal_length":"16.0","iso":100},"location":{"title":"Denver,
        CO, United States","name":null,"city":"Denver, CO","country":"United States","position":{"latitude":null,"longitude":null}},"views":3777,"downloads":12}'
  recorded_at: Mon, 29 Jul 2019 23:37:35 GMT
recorded_with: VCR 5.0.0
