---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/random?client_id=<UNSPLASH_API_KEY>&query=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '45'
    body:
      encoding: UTF-8
      string: '{"id":"i7TqUTqAAws","created_at":"2019-05-21T22:27:06-04:00","updated_at":"2019-07-21T01:16:14-04:00","width":4240,"height":2832,"color":"#EAE3CB","description":null,"alt_description":"white
        single cab pickup truck in front of Denver Beer Co store","urls":{"raw":"https://images.unsplash.com/photo-1558491971-d1e7fcbc7253?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjgzODkxfQ","full":"https://images.unsplash.com/photo-1558491971-d1e7fcbc7253?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjgzODkxfQ","regular":"https://images.unsplash.com/photo-1558491971-d1e7fcbc7253?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjgzODkxfQ","small":"https://images.unsplash.com/photo-1558491971-d1e7fcbc7253?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjgzODkxfQ","thumb":"https://images.unsplash.com/photo-1558491971-d1e7fcbc7253?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjgzODkxfQ"},"links":{"self":"https://api.unsplash.com/photos/i7TqUTqAAws","html":"https://unsplash.com/photos/i7TqUTqAAws","download":"https://unsplash.com/photos/i7TqUTqAAws/download","download_location":"https://api.unsplash.com/photos/i7TqUTqAAws/download"},"categories":[],"sponsored":false,"sponsored_by":null,"sponsored_impressions_id":null,"likes":11,"liked_by_user":false,"current_user_collections":[],"user":{"id":"17T2WlovpRw","updated_at":"2019-07-24T16:38:23-04:00","username":"freetousesoundscom","name":"Free
        To Use Sounds","first_name":"Free To","last_name":"Use Sounds","twitter_username":"freetousesounds","portfolio_url":"https://www.freetousesounds.com","bio":"Hi,
        I''m Marcel and I''ve been traveling around the world for over four years.
        As a pro-sound recordist & sound library owner, I''ve been providing high-quality
        for filmmakers, sound designers, and editors! IG @FreeToUseSounds @WavKind","location":"Los
        Angeles","links":{"self":"https://api.unsplash.com/users/freetousesoundscom","html":"https://unsplash.com/@freetousesoundscom","photos":"https://api.unsplash.com/users/freetousesoundscom/photos","likes":"https://api.unsplash.com/users/freetousesoundscom/likes","portfolio":"https://api.unsplash.com/users/freetousesoundscom/portfolio","following":"https://api.unsplash.com/users/freetousesoundscom/following","followers":"https://api.unsplash.com/users/freetousesoundscom/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-fb-1554974349-aff6804d100a.jpg?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32","medium":"https://images.unsplash.com/profile-fb-1554974349-aff6804d100a.jpg?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64","large":"https://images.unsplash.com/profile-fb-1554974349-aff6804d100a.jpg?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128"},"instagram_username":"freetousesounds","total_collections":0,"total_likes":0,"total_photos":101,"accepted_tos":true},"exif":{"make":"SONY","model":"ILCE-7S","exposure_time":"1/8000","aperture":"1.8","focal_length":"85.0","iso":1000},"location":{"title":"15th
        Street , Denver, United States","name":"15th Street ","city":"Denver","country":"United
        States","position":{"latitude":null,"longitude":null}},"views":589727,"downloads":1630}'
  recorded_at: Wed, 31 Jul 2019 02:35:26 GMT
recorded_with: VCR 5.0.0
